= form_for @content do |f|
  - if @content.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content.errors.count, "error")} prohibited this content from being saved:"
      %ul
        - @content.errors.full_messages.each do |message|
          %li= message
  .fondoGris.py-8.px-4
    .mx-auto.rounded-lg.bg-white.shadow-lg.p-5.text-gray-700.max-w-full	
      .h3.text-xl Curso:
      .field.mb-3.flex-mx-2
        = f.text_field :course,  :class => 'textBox'
      .h3.text-xl Capítulo:
      .field.mb-3.flex-mx-2
        = f.text_field :chapter,  :class => 'textBox'
      .h3.text-xl Título
      .field.mb-3.flex-mx-2
        = f.text_field :name,  :class => 'textBox'
      .h3.text-xl Orden dentro del capítulo
      .field.mb-3.flex-mx-2
        = f.number_field :sequence,  :class => 'textBox'
      .h3.text-xl Tipo de contenido
      .field.mb-3.flex-mx-2
        = f.number_field :typeOfContent,  :class => 'textBox'
      .h3.text-xl.my-8 Contenido
      .field.mb-3.flex-mx-2.bg-white
        = f.rich_text_area :richContent,  :class => 'w-full prose max-w-none prose-indigo leading-6 rounded-b-md shadow-sm border border-gray-300 p-5 bg-white overflow-y-auto'
      .h3.text-xl Prioridad
      .field.mb-3.flex-mx-2
        = f.number_field :priority,  :class => 'textBox'
      .h3.text-xl Cuestionario relacionado
      .field.mb-3.flex-mx-2
        = f.number_field :testId,  :class => 'textBox'
      .h3.text-xl Requerimientos previos
      .field.mb-3.flex-mx-2
        = f.number_field :requirements,  :class => 'textBox'
      .h3.text-xl Puntaje mínimo de aprobación
      .field.mb-3.flex-mx-2
        = f.number_field :minimumScore,  :class => 'textBox'
      .h3.text-xl Objetivos que permite alcanzar
      .field.mb-3.flex-mx-2
        = f.text_field :goals,  :class => 'textBox'
      .actions.py-6
        = f.submit 'Publicar', :class => "botonLargo"
