.login01
  .login02
    %div
      .logo=image_tag "logo_gris.png"
      %h2.loginTitle.py-4= t('.forgot_your_password')
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'textBox', placeholder: "E-mail"
        .actions.py-4
          = f.submit t('.send_me_reset_password_instructions'), :class => 'botonLargo'
      = render "devise/shared/links"
