-if user_signed_in?
  -unless current_user.name == nil
    - nombre = current_user.name
  -else
    - nombre = ""
  -unless current_user.email == nil
    - email = current_user.email
  -else
    - email = ""

= form_for @lead do |f|
  - if @lead.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lead.errors.count, "error")} prohibited this lead from being saved:"
      %ul
        - @lead.errors.full_messages.each do |message|
          %li= message

  .field.font-2.py-2
    ¿En qué estás interesado?
    =# f.text_field :course, :value => params[:course], :class => "textBox"
    = f.select :course, options_for_select(@courses,params[:course]), {}, :class => "rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 bg-white text-lg font-1"
  .field.font-2.py-2
    Tu nombre
    = f.text_field :name, :value => nombre, :class => "textBox"
  .field.font-2.py-2
    Tu email
    = f.text_field :email, :value => email, :class => "textBox"
  .field.font-2.py-2
    ¿Querés decirnos algo? (opcional)
    = f.text_area :info, :class => "textBox"
  .text-center.py-4
    = f.submit 'Enviar', :class => "botonLargo"
