= form_for [@content,@user_content] do |f|
  .bg-gray-200.p-4.h-screen
    .bg-white.rounded-xl.m-6.p-6.md:container.mx-auto
      %p.m-2
        - flecha= inline_svg_tag "arrow.svg", class: 'h-8 inline-block svgVioleta'
        = link_to flecha, :back
      -if current_user.avatar.attached?        
        =image_tag current_user.avatar, :class => "float-left w-12 h-12 rounded-full m-2"
      -else
        =image_tag "extraterrestre.svg", :class=> "float-left w-12 h-12 rounded-full m-2"
        
      =f.text_area :markdownContent, :class => "p-4 w-full h-40 text-2xl font-2 resize-y lg:h-80 md:w-5/6", :placeholder => "¿Cuál es tu aporte?"

      .inline-grid.grid-cols-2.gap-x-4
        %span
          = f.select :content_type, options_for_select([['Duda (será respondida)', 1], ['Aporte', 2]]), {}, :class => "rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 bg-white text-lg font-1"
        %span
          =# Este label va sólo si el usuario tiene permisos de edición en el curso
          %label.text-lg.font-1
            = f.check_box :sticked
            Fijado 
      .text-right
        =f.submit 'Publicar', :class => 'botonVerde'
        



    - if @user_content.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user_content.errors.count, "error")} prohibited this user_content from being saved:"
        %ul
          - @user_content.errors.full_messages.each do |message|
            %li= message
