%div{:class=> "bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 flex items-center justify-center overflow-hidden"}
  
  %div{:class =>"flex flex-wrap -mx-4 overflow-hidden items-center w-full"}
    
      
    -if user_signed_in?
      -unless current_user.permissions == nil
        -if current_user.permissions >= 50
          %div{:class => "my-4 px-4 w-full overflow-hidden md:w-1/2 lg:w-1/3"}
            .bg-white.m-4.shadow.py-4.px-4.hover:bg-green-200.rounded.text-center
              %h1.text-3xl.font-1.font-bold Administrador
              = link_to 'Crear curso', new_course_path, :class => "botonVerde"
    - @courses.each do |course|
      -if course.published?
        %div{:class => "my-4 px-4 w-full overflow-hidden md:w-1/2 lg:w-1/3"}
          .bg-white.m-4.shadow.py-4.px-4.hover:bg-green-200.rounded
            %strong= course.category
            %h1.text-3xl.font-1.font-bold=course.name
            %hr.py-2
            %p.font-2= course.description
            .text-center.py-4
              = link_to 'Ver', course, :class=> "py-4 botonVerde"
              -if user_signed_in?
                -unless current_user.permissions == nil
                  -if current_user.permissions >= 50
                    = link_to 'Editar', edit_course_path(course)
                    = link_to 'Borrar', course, method: :delete, data: { confirm: 'Ojo... ¿estás seguro?' }
            %hr.py-2
            .grid.grid-cols-3.text-sm
              %div
                =image_tag "dolar_chico.svg", :class => "w-6 inline-block"
                USD 
                = course.price
              %div
              %div.text-right
                =image_tag "timer.svg", :class => "w-6 inline-block"
                = course.duration
                horas
            

