%div{:class=> "bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 flex items-center justify-center"}
  %div{:class =>"flex flex-wrap -mx-4 overflow-hidden"}
    - @courses.each do |course|
      %div{:class => "my-4 px-4 w-full overflow-hidden md:w-1/2 lg:w-1/3"}
        .bg-white.m-4.shadow.py-4.px-4.hover:bg-green-200.rounded
          %strong= course.category
          %h1.text-3xl.font-1.font-bold=course.name
          %hr.py-2
          %p.font-2= course.description
          .text-center.py-4
            = link_to 'Ver', course, :class=> "py-4 botonVerde"
            = link_to 'Edit', edit_course_path(course)
            = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
          %hr.py-2
          .grid.grid-cols-3.text-sm
            %div
              =image_tag "dolar_chico.svg", :class => "w-6 inline-block"
              USD 
              = course.price
            %div
            %div.text-right
              =image_tag "timer.svg", :class => "w-6 inline-block"
              = course.duration
              horas
          
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Category
      %th Price
      %th Goals
      %th Duration
      %th Evaluation
      %th Visibility
      %th
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.description
        %td= course.category
        %td= course.price
        %td= course.goals
        %td= course.duration
        %td= course.evaluation
        %td= course.visibility
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
