%h1 Listing tests

%table.table-auto
  %thead
    %tr
      %th Question
      %th A1
      %th A2
      %th A3
      %th A4
      %th Correct
      %th Content
      %th Score
      %th Difficulty
      %th State
      %th
      %th
      %th

  %tbody
    - @tests.each do |test|
      %tr
        %td= test.question
        %td= test.a1
        %td= test.a2
        %td= test.a3
        %td= test.a4
        %td= test.correct
        %td= test.content.id
        %td= test.score
        %td= test.difficulty
        %td= test.state
        %td= link_to 'Show', content_test_path(@content, test)
        %td= link_to 'Edit', edit_content_test_path(@content, test)
        %td= link_to 'Destroy', content_test_path(@content, test), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Test', new_content_test_path
