!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TransmediAcademy
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('fav01.png')
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.bg-gray-800
      .max-w-7xl.mx-auto.px-2.sm:px-6.lg:px-8
        .relative.flex.items-center.justify-between.h-16
          .absolute.inset-y-0.left-0.flex.items-center.sm:hidden
            %button.butMenu{"aria-expanded" =>"false"}
              %span.sr-only Abrir menu
              .block.h-6.w-6= image_tag "menu.svg"
              .hidden.h-6.w-6= image_tag "menu2.svg"
          .flex-1.flex.items-center.justify-center.sm:items-stretch.sm:justify-start
            .flex-shrink-0.flex.items-center
              =image_tag "fav05.png", :class => "block lg:hidden h-8 w-auto"
              =image_tag "logo_blanco.png", :class => "hidden lg:block h-8 w-auto"
            .hidden.sm:block.sm:ml-6
              .flex.space.x-4
                %a{:class => "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"} Mis cursos
                %a{:class => "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"} Mi perfil
                %a{:class => "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"} Mis aportes
            
          .absolute.inset-y-0.right-0.flex.items-center.pr-2.sm:static.sm:inset-auto.sm:ml-6.sm:pr-0
            %button{:class => "bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"}
              %span.sr-only Ver notificaciones
              .h-6.w-6=image_tag "campanita.svg"
            .ml-3.relative
              %div
                %button{:class => "bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white", :id => "user-menu", "aria-haspopup" => "true"}
                  %span.sr-only Abrir menú de usuario
                  %img.h-8.w-8.rounded-full{:src => "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}
              %div{:class => "origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5", :role => "menu", "aria-orientation" => "vertical", "aria-labelledby" =>"user-menu"}
                %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:role => "menuitem"} Mi perfil
                %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:role => "menuitem"} Mi perfil
                %a.block.px-4.py-2.text-sm.text-gray-700.hover:bg-gray-100{:role => "menuitem"} Mi perfil

      .hidden.sm-hidden
        .px-2.pt-2.pb-3.space-y-1
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium Equipo
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium Equipo
          %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.text-base.font-medium Equipo
    -if notice
      .bg-yellow-400
        .max-w-7xl.mx-auto.py-3.px-3.sm:px-6.lg:px-8
          .flex.items-center.justify-between.flex-wrap
            .w-0.flex-1.flex.items-center
              .ml-3.font-medium.text-white.truncate
                %span
                  = notice
    -if alert
      .bg-red-400
        .max-w-7xl.mx-auto.py-3.px-3.sm:px-6.lg:px-8
          .flex.items-center.justify-between.flex-wrap
            .w-0.flex-1.flex.items-center
              .ml-3.font-medium.text-white.truncate
                %span
                  = alert
    = yield
