!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TransmediAcademy
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('fav01.png')
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    =render template: './_partials/menu'
    =render template: './_partials/alertas'

    = yield
