!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TransmediAcademy
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('fav01.png')
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -if notice
      .bg-yellow-400
        .max-w-7xl.mx-auto.py-3.px-3.sm:px-6.lg:px-8
          .flex.items-center.justify-between.flex-wrap
            .w-0.flex-1.flex.items-center
              .ml-3.font-medium.text-white.truncate
                %span
                  = notice
    -if alert
      .bg-red-400
        .max-w-7xl.mx-auto.py-3.px-3.sm:px-6.lg:px-8
          .flex.items-center.justify-between.flex-wrap
            .w-0.flex-1.flex.items-center
              .ml-3.font-medium.text-white.truncate
                %span
                  = alert
    = yield
